<!DOCTYPE html>
<!-- passhelp - MIT License - https://passhelp.github.io - Copyright 2016 Jacob Peddicord -->
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>the little password helper</title>
  <style type="text/css"><%= compilation.assets['style.css'].source() %></style>
</head>
<body>

  <div id="container">

    <div id="settings">

      <div id="types">
        <div>
          Select a password type:
        </div>
        <label>
          <input type="radio" name="type-radio" class="generator" id="phrase" data-type="phrase" data-length="3,4,5,6">
          <span>phrase</span>
        </label>
        <label>
          <input type="radio" name="type-radio" class="generator" id="phrase-symbols" data-type="phrase" data-length="3,4,5,6" data-specials="true">
          <span>phrase <small>(with symbols)</small></span>
        </label>
        <label>
          <input type="radio" name="type-radio" class="generator" id="alphanumeric" data-type="character" data-alphabet="alphanumeric_friendly" data-length="8,12,16,20" data-exhaustive="true">
          <span>alphanumeric</span>
        </label>
        <label>
          <input type="radio" name="type-radio" class="generator" id="strong" data-type="character" data-alphabet="full_friendly" data-length="8,12,16,20" data-exhaustive="true">
          <span>strong</span>
        </label>
        <label>
          <input type="radio" name="type-radio" class="generator" id="strongest" data-type="character" data-alphabet="full" data-length="8,12,16,20">
          <span>strongest</span>
        </label>
      </div>

      <div id="details">
        <div id="description">
          <span class="type" style="display: block">
            Select a type of password to begin.
          </span>
          <span class="type" id="desc_phrase">
            Instead of random characters, consider using a few random words -- it's much easier to remember. Use for any password you want to commit to memory.
            <br/><br/>
            <small><strong>11.5k</strong> words</small>
          </span>
          <span class="type" id="desc_phrase-symbols">
            Just like the other phrase option, but using symbols and numbers as separators. Use this when you still need to fulfill password requirements.
            <br/><br/>
            <small><strong>11.5k</strong> words; uppercase; symbol and digit separators</small>
          </span>
          <span class="type" id="desc_alphanumeric">
            Just letters and numbers. Use on websites that don't accept anything else.
            <br/><br/>
            <small><strong>all</strong> upper, lower, digit characters; look-alikes excluded</small>
          </span>
          <span class="type" id="desc_strong">
            Letters, numbers, and symbols. Characters that look similar omitted. Useful if you're reading and typing this a lot.
            <br/><br/>
            <small><strong>all</strong> upper, lower, symbol, digit characters; look-alikes excluded</small>
          </span>
          <span class="type" id="desc_strongest">
            All character classes, no usability enhancements, just a pure random password. Use if you're planning on storing this in a password manager.
            <br/><br/>
            <small><strong>any</strong> upper, lower, symbol, digit characters</small>
          </span>
        </div>

        <div id="length-picker">
          <div>Password length:</div>
          <input type="number" id="length" min="1" max="99" step="1" />
          <span id="length-presets"></span>
        </div>
      </div>
    </div>

    <div id="output-area">
      <span id="copied-message">Copied!</span>
      <div>
        <input type="text" id="output" value="" dir="ltr" spellcheck="false" autocomplete="off" autocorrect="off" autocapitalize="off" />
        <button id="regenerate">&#x21bb;</button>
      </div>
    </div>
  </div>

  <div id="footer">
     <a href="https://passhelp.github.io">
      the little password helper
      <span class="icon"></span>
     </a>
  </div>

  <script type="text/javascript"><%= compilation.assets['app.bundle.js'].source() %></script>
</body>
</html>
