$background: #fff;
$highlight: #45a5f5;
$selected: darken($highlight, 10%);
$fg-active: #fff;
$inactive: #ccc;
$border: #000;

@mixin desktop {
  @media (min-width: 601px) {
    @content;
  }
}
@mixin mobile {
  @media (max-width: 600px) {
    @content;
  }
}

*:focus {
  outline: 2px solid $selected;
}

::selection {
  background-color: $selected;
  color: $fg-active;
}

*:not(input) {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

body {
  background-color: $background;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
}

button {
  background-color: $inactive;
  border: 0;
  cursor: pointer;

  &:hover {
    background-color: $highlight;
    color: $fg-active;
  }

  &:active {
    background-color: $selected;
    color: $fg-active;
  }
}

#container {
  @include desktop {
    margin: 50px auto 30px auto;
    max-width: 700px;
  }
  @include mobile {
    margin: 0 auto;
  }
}

#settings {
  display: flex;
  flex-direction: row;
  width: 100%;
  box-sizing: border-box;

  @include mobile {
    padding: 10px;
    flex-direction: column;
  }

  // password presets
  #types {
    flex-shrink: 0;

    @include desktop {
      flex-basis: 150px;

      > div {
        display: none;
      }
    }
    @include mobile {
      margin-bottom: 15px;

      > div {
        font-weight: bold;
        margin-bottom: 5px;
      }
    }

    label {
      span {
        display: block;
        padding: 0.5em;
        font-size: 1.2em;
        cursor: pointer;
        text-decoration: underline;
      }

      &:hover span {
        background-color: $highlight;
        color: $fg-active;
        text-decoration: none;
      }

      input[type="radio"] {
        //display: none;
        position: absolute;
        left: -9999px;
      }

      input[type="radio"]:checked + span {
        background-color: $selected;
        color: $fg-active;
        text-decoration: none;
      }
    }
  }

  // right-side pane with description and length picker
  #details {
    display: flex;
    padding: 0 0.5em;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 1;

    #description {
      flex-grow: 1;
      flex-basis: 130px;
      font-size: 1.1em;
      text-align: justify;

      // hide all descriptions initially
      .type {
        display: none;

        small {
          opacity: 0.7;
        }
      }
    }

    #length-picker {
      visibility: hidden;

      > div {
        margin-bottom: 4px;
      }

      #length {
        width: 2em;
        padding: 0.4em 0.6em;
        margin-right: 0.3em;
        font-size: 1.2em;
        border: 1px solid $border;
      }

      #length-presets {
        white-space: nowrap;

        button {
          padding: 0.5em 0.8em;
          margin-right: 0.3em;
          font-size: 1.2em;
        }
      }
    }
  }
}

#output-area {
  width: 100%;
  box-sizing: border-box;
  padding: 0.8em 0.5em;

  // initially hidden
  visibility: hidden;

  #copied-message {
    margin-left: 10px;
    padding: 2px 10px;
    background: $border;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.9em;
    color: $fg-active;

    // also initially hidden
    visibility: hidden;
  }

  > div {
    display: flex;
    flex-direction: row;

    @include mobile {
      flex-direction: column;
    }

    #output {
      flex-grow: 1;
      font-size: 1.5em;
      border: 3px solid $border;
      padding: 0.3em;
      text-align: center;

      @include mobile {
        font-size: 1.2em;
        padding: 0.8em 0.2em;
      }
    }

    #regenerate {
      flex-grow: 0;
      padding: 0 0.6em;
      font-size: 1.4em;
      font-weight: bold;

      @include desktop {
        margin-left: 5px;
      }
      @include mobile {
        margin: 12px 0;
        padding: 0.4em 0;
      }
    }
  }
}

#footer {
  text-align: center;
  font-size: 14px;
  margin-bottom: 10px;

  a {
    text-decoration: none;
    color: #555;

    &:focus {
      outline: none;
    }
  }

  .icon {
    display: inline-block;
    background-image: url('./icon.png');
    width: 16px;
    height: 16px;
    vertical-align: middle;
  }
}
