*:focus {
  outline: none;
}

body {
  background-color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

#container {
  max-width: 700px;
  margin: 100px auto;
}

#settings {
  width: 100%;
  display: flex;
  flex-direction: row;

  // password presets
  #types {
    flex-basis: 250px;
    flex-shrink: 0;

    label {
      display: block;
      padding: 0.5em;
      font-size: 1.2em;
      cursor: pointer;

      &:hover {
        background-color: #ddd;
      }
    }
  }

  // right-side pane with description and length picker
  #details {
    display: flex;
    padding-left: 0.5em;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 1;

    #description {
      flex-grow: 1;
      font-size: 1.1em;

      // hide all descriptions initially
      .type {
        display: none;
      }
    }

    #length-picker {
      padding: 0.5em;
      visibility: hidden;

      #length {
        width: 2em;
        padding: 0.4em 0.6em;
        margin-right: 0.3em;
        font-size: 1.2em;
        border: 1px solid black;
      }

      #length-presets > button {
        background-color: #ccc;
        border: 0;
        padding: 0.5em 0.8em;
        margin-right: 0.3em;
        font-size: 1.2em;
        cursor: pointer;
      }
    }
  }
}

#output-area {
  display: flex;
  margin: 0.8em 0.5em;
  flex-direction: row;

  #output {
    flex-grow: 1;
    font-size: 1.5em;
    border: 3px solid black;
    padding: 0.3em;
    text-align: center;
  }

  #regenerate {
    flex-grow: 0;
    margin-left: 0.5em;
    border: none;
    padding: 0 0.6em;
    font-size: 1.4em;
    font-weight: bold;
    cursor: pointer;
  }
}
