$highlight: #45a5f5;
$selected: darken($highlight, 10%);
$fg-active: #fff;

*:focus {
  outline: 2px solid $selected;
}

::selection {
  background-color: $selected;
  color: $fg-active;
}

*:not(input) {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

body {
  background-color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
}

button {
  &:hover {
    background-color: $highlight;
  }

  &:active {
    background-color: $selected;
  }
}

#container {
  max-width: 700px;
  margin: 50px auto;
}

#settings {
  width: 100%;
  display: flex;
  flex-direction: row;

  // password presets
  #types {
    flex-basis: 250px;
    flex-shrink: 0;

    label {
      span {
        display: block;
        padding: 0.5em;
        font-size: 1.2em;
        cursor: pointer;
        text-decoration: underline;
      }

      &:hover span {
        background-color: $highlight;
        color: $fg-active;
        text-decoration: none;
      }

      input[type="radio"] {
        display: none;
      }

      input[type="radio"]:checked + span {
        background-color: $selected;
        color: $fg-active;
        text-decoration: none;
      }
    }
  }

  // right-side pane with description and length picker
  #details {
    display: flex;
    padding-left: 0.5em;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 1;

    #description {
      flex-grow: 1;
      font-size: 1.1em;
      text-align: justify;

      // hide all descriptions initially
      .type {
        display: none;

        small {
          opacity: 0.7;
        }
      }
    }

    #length-picker {
      padding: 0.5em;
      visibility: hidden;

      #length {
        width: 2em;
        padding: 0.4em 0.6em;
        margin-right: 0.3em;
        font-size: 1.2em;
        border: 1px solid black;
      }

      #length-presets > button {
        background-color: #ccc;
        border: 0;
        padding: 0.5em 0.8em;
        margin-right: 0.3em;
        font-size: 1.2em;
        cursor: pointer;
      }
    }
  }
}

#output-area {
  display: flex;
  margin: 0.8em 0.5em;
  flex-direction: row;

  // initially hidden
  visibility: hidden;

  #output {
    flex-grow: 1;
    font-size: 1.5em;
    border: 3px solid black;
    padding: 0.3em;
    text-align: center;
  }

  #regenerate {
    flex-grow: 0;
    margin-left: 0.5em;
    border: none;
    padding: 0 0.6em;
    font-size: 1.4em;
    font-weight: bold;
    cursor: pointer;
  }
}
